.main-outline{
	text-align: right;
    margin-right: 10%;
}
.ratio-red{
	font-size: 15px;
	font-weight: bold;
	color:red;
}
.ratio-green{
	font-size: 15px;
	font-weight: bold;
	color:green;	
}

.collapsed {
	background-color: #E4E5E5;
}

.rank-body {
	margin-top: 0;
	margin-left: 0;
	background-color: #fff;
}

.kelleg {
	position:relative;
	background-color: #fff;
	padding-top: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.kelleg-top {
    background-color: #fff;
    padding-top: 0;
    margin-bottom: 0;
    padding-right: 0;
}

.summary-title {
    font-size: 16px;
    color: #333333;
    margin-top: 33.5px;
}
.summary-number {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}
.summary-divide {
    border-right:solid 1px #D0D0D0;
    height:120px;
    cursor:pointer;
}
.realtime-title {
    font-size: 16px;
    color: #333333;
    margin-top: 23px;
}
.realtime-number {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}
.realtime-divide {
    border-right:solid 1px #D0D0D0;
    height:120px;
}
.tab-content.realtime {
	background-color: #fff;
}

.target-class {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.target-class .current {
	background-color: #fff;
	position: relative;
}

.target-class .current:after, .target-class .current:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.target-class .current:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.target-class .current:before {
  border-color: rgba(224, 224, 224, 0);
  border-top-color: #E0E0E0;
  border-width: 16px;
  margin-left: -16px;
}

.radio.datetype {
	margin-top: 5px;
	margin-bottom: 0;
}

.ft {
    height: 50px;
    position: fixed;
    z-index: 1030;
    background-color: #474747;
    color: #8e8e8e;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/*.accordion {
  display: block;
  position: fixed;
  top: 65px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  !* z-index: 1000; *!
  display: block;
  padding-right: 20px;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: #fff;
}
.accordion a:hover {
  text-decoration:none;
}
.accordion .accordion-active {
  float: right !important;
  margin-right: 20px;
}
.accordion h1, h2, h3, h4 {
  margin: 0;
  cursor: pointer;
  font-weight: normal;
}
.accordion h1 {
  padding-left: 20px;
  padding-top: 15px;
  font-size: 16px;
  height: 50px;
  background-color: #e3e3e3;
  color: #333333;
  border-bottom: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
}
.accordion h1:hover {
  background-color: #d3f0f1;
}
.accordion h1:first-child {
  border-radius: 6px 6px 0 0;
  border-top: 1px solid #b5b5b5;
}
.accordion h1:last-child {
  border-radius: 0 0 6px 6px;
}
.accordion div {
  display: none;
}
.accordion h2 {
  padding-left: 50px;
  padding-top: 14px;
  font-size: 15px;
  height: 44px;
  background-color: #f5f5f5;
  color: #333333;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  border-bottom: 1px solid #d2d2d2;
}
.accordion h2:hover {
  background-color: #d3f0f1;
}
.accordion h3 {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  height: 40px;
  background-color: #fff;
  color: #333333;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
}
.accordion h3:hover {
  background-color: #d3f0f1;
}
.accordion h3:last-child {
  border-bottom: 1px solid #d1d1d1;
}
.accordion .opened-for-codepen {
  display: block;
  color: #008386;
}*/

.signRank .fixed-table-container {
    margin-left: 0;
    margin-right: 0;
}

.signRank .fixed-table-toolbar {
	height: 46px;
	border-top: 1px solid #B5B5B5;
	border-left: 1px solid #B5B5B5;
	border-right: 1px solid #B5B5B5;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
    background: -webkit-linear-gradient(#EFEFEF, #DFDFDF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#EFEFEF, #DFDFDF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#EFEFEF, #DFDFDF); /* Firefox 3.6 - 15 */
    background: linear-gradient(#EFEFEF, #DFDFDF); /* 标准的语法（必须放在最后） */
}

.signRank .fixed-table-toolbar .columns {
    margin-top: 0;
    margin-bottom: 0;
    height: 46px;
}

.signRank .fixed-table-toolbar .bars {
    margin-top: 0;
    margin-bottom: 0;
    height: 46px;
}

.signRank .fixed-table-toolbar .btn-default {
    background-color: transparent;
    background: transparent;
    border: 0;
    padding: 12px 12px;
}

.signRank .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.signRank .form-control {
	margin-top: 8px;
	border: 1px solid #b5b5b5;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.datePickerPanel {
	position:absolute;
    right: 15px;
    top: 55px;
    z-index: 1000;
    padding: 8px;
    background-color: #404040;
}

.datePickerPanel .datetimepicker table {
	width: 250px;
	height: 250px;
}

.datePickerPanel .datetimepicker-inline {
    width: 250px;
    height: 250px;
}

.signRank-week .datetimepicker table {
    width: 250px;
    height: 250px;
}

.signRank-week .datetimepicker-inline {
    width: 250px;
    height: 250px;
}

.dateselect {
    display: block;
    text-align: left;
    cursor: pointer;
    padding-left: 18px;
    border: 1px solid #B5B5B5;
    border-radius: 4px;
}

.pulldown {
    background: url(../img/icon.png) no-repeat 0 -577px;
    display: inline-block;
    height: 24px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
    line-height: 24px;
    text-indent: -9999px;
    margin-left: 15px;
}

.dropdown a {
	text-decoration:none;
}

.selected-item {
    background-color: #EBEBEB;
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    vertical-align: top;
    margin-top:5px;
    margin-left:5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.mapTip{display:none; position:absolute; padding:8px; background:#fff; border: 1px solid #aaa; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
box-shadow: 0 5px 10px rgba(0,0,0,.3);
    font-size:12px; font-family:Tahoma; color:#333;}

/*提示自定义*/
.mapTip .arrow,
.mapTip .arrowMask{ position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid;}
.mapTip .arrow{ bottom: -7px; left: 50%; margin-left: -7px; border-width: 7px; border-top-color: #999; border-top-color: rgba(0,0,0,.25); border-bottom-width: 0;}
.mapTip .arrowMask{bottom: 1px; border-width: 6px; margin-left: -6px; border-top-color: #fff; border-bottom-width: 0;}

.mapInfo i{ display:inline-block; width:15px; height:15px; margin-top:5px; line-height:15px; font-style:normal; background:#aeaeae; color:#fff; font-size:11px; font-family: Tahoma; -webkit-border-radius:15px; border-radius:15px; text-align:center
}
.mapInfo i.active{background:#E27F21;}
.mapInfo span{ padding:0 5px 0 3px;}
.mapInfo b{ font-weight:normal; color:#2770B5}